@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Poppins:100,200,300,400,500,600,700');


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

main {
    display: flex;
    margin-top: 4rem;
    flex: 1 0 auto;
}

a,
a:hover,
a:link,
a:visited a:active {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

.flash_message {
    color: rgb(153, 70, 70);
    justify-content: center;
    font-size: 18px;
}

.nav-item {
    cursor: pointer;
}

.navbar-color {
    background-color: #fffffff7;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.navbar-logo {
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 3rem 3rem 0 3rem;
}

.index-banner {
    width: 100%;
    height: 300px;
    background-image: url('../img/main_banner.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-buy {
    margin: 1rem auto;
}

.carousel-rent {
    margin: 0 auto 1rem auto;
}

.social-buttons {
    margin: 1rem 0 0.5rem 0;
}

.footer-main {
    background-color: #fffffff7;
    box-shadow: 0 -8px 6px -6px black;
    padding: 0.1rem 0 0 0;
}

.footer-copyright {
    padding: 0 0 0.5rem 0;
}

.btn-block+.btn-block {
    margin-top: 0;
}

/* REGISTER */

.add-title,
.login-title,
.register-title {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 28px;
    background-color: #343a40;
    height: 4rem;
    border-radius: 10px 10px 0 0;
    color: white;
}

.add-title>h4 {
    margin-bottom: 0;
}

.register-form,
.login-form {
    padding: 1rem 0;
}

.add-property-container,
.login-container,
.register-container {
    display: flex;
    flex-direction: column;
    margin: 2rem auto auto auto;
    background-color: #fffffff7;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.form-property,
.form-login {
    align-items: center;
    justify-content: center;
}

.user-icon {
    font-size: 40px;
    padding: 4px 8px 0 0;
    color: #343a40;
}

.password-icon {
    font-size: 35px;
    padding: 4px 8px 0 0;
    color: #343a40;
}

.rent-buy-buttons,
.edit-delete-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-property-button,
.register-button,
.login-button {
    display: flex;
    justify-content: flex-end;
}

.button-buy {
    width: 100%;
    background-color: blue;
}

.button-rent {
    width: 100%;
    background-color: red;
}

/* PROPERTY LISTING */

.listing-selector {
    text-align: right;
    margin-bottom: 2rem;
}

.selector-options {
    border-radius: 0;
    width: 200px;
}

.card-box {
    margin: 0 0 1rem 0;
    border-radius: 15px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-box:hover {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.16), 0 8px 15px rgba(0, 0, 0, 0.23);
}

.card-address-box {
    justify-content: center;
    font-weight: bold;
    margin: 0;
    padding: 12px 10px 0 10px;
}

.card-city-box {
    justify-content: center;
    margin: 0;
    padding: 2px 10px 5px 10px;
    font-size: 22px;
}

.card-price-box {
    border: 2px solid grey;
    border-radius: 10px;
    justify-content: center;
    margin: 0 15px;
    padding: 5px 3px;
}

.card-footer-box {
    margin: 0;
    padding: 10px 5px;
}

.card-footer-beds,
.card-footer-baths {
    font-size: 25px;
    color: grey;
    margin: 0;
}

.card-description-box {
    background-color: #FFF;
    font-size: 25px;
    border-radius: 0 0 15px 15px;
}

.description-price-box {
    justify-content: center;
    margin: 0;
    padding: 5px;
}

.property-img {
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
}

.card-img {
    width: 100%;
    height: 300px;
    align-items: center;
    border-bottom: 1px solid grey;
    border-radius: 15px 15px 0 0;
}

.price-box {
    padding-bottom: .5rem;
}

.card-price {
    color: #000;
    margin-left: 5px;
}

.card-bed-box,
.card-bath-box {
    justify-content: center;
    margin: 0;
}

.bed-icon,
.bath-icon {
    color: rgb(18, 18, 107);
    margin-right: 15px;
    padding-top: 5px;
}

.bath-info {
    margin-left: 5px;
}

/* Property Details */

.property-details-box {
    border-radius: 15px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.16), 0 8px 15px rgba(0, 0, 0, 0.23);
    background-color: #fffffff7
}

.details-top-box {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 15px;
    font-size: 25px;
    font-weight: bold;
}

.top-address {
    display: flex;
    justify-content: center;
}

.details-price {
    display: flex;
    justify-content: center;
}

.property-name-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.property-image-box {
    width: 100%;
}

.details-property-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.23);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.23);
}

.details-address-box {
    margin: 0 10px 0 0;
}

.details-description-title {
    display: flex;
    justify-content: center;
    padding: 12px 0;
    font-family: "Poppins", sans-serif;
    font-size: 27px;
    font-weight: bold;
}

.summary-list-box {
    padding: 0;
    margin: 0;
}

.summary-list,
.property-description {
    padding: 0 10px;
    margin: 0;
}



/* -----------------------------------
    MEDIA QUERY
-------------------------------------- */

/* Mobile screen under 359px */
@media (max-width: 359px) {}

@media (min-width: 575px) {
    main {
        margin-top: 6rem;
    }

    .navbar-logo {
        padding: 5rem 5rem 0 5rem;
    }

    .details-top-box {
        font-size: 30px;
    }

}

@media (min-width: 768px) {
    .top-address {
        justify-content: flex-start;
    }


    .details-price {
        justify-content: flex-end;
    }

    .property-image-box {
        padding-right: 0;
    }

    .summary-list,
    .property-description {
        padding: 0;
    }
}

@media (min-width: 992px) {
    .details-top-box {
        justify-content: space-between;
    }

}

@media (min-width: 1200px) {
    main {
        margin-top: 6.5rem;
    }

    .navbar-logo {
        padding: 5.5rem 5.5rem 0 5.5rem;
    }

}