@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Poppins:100,200,300,400,500,600,700');


body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-image: url('../img/background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 4rem;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

a,
a:hover,
a:link,
a:visited a:active {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

.flash_message {
    color: rgb(153, 70, 70);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 18px;
}

.banner {
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 250px;
    border: 1px solid rgba(0, 0, 0, 0.568);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin: 0 auto;
    padding: 0;

}

/* Footer Social media icons */
.fa-facebook:hover,
.fa-twitter:hover,
.fa-linkedin-in:hover {
    opacity: 0.8;
}


.title-buy,
.title-rent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.568);
    border-bottom: 0;
    color: rgb(0, 0, 0);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
    padding: 5px 0;
}


/* Carousel img fix size */

.carousel-inner,
.carousel-item,
.carousel-inner .carousel-item .img {
    border-top: 0;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    height: 220px;
}

/* Carousel img fix size end */


.title-carousel {
    background-color: rgba(255, 255, 255, 0.897);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 8px;
    font-size: 18px;
    text-transform: capitalize;
    padding: 0 8px;
    color: rgb(47, 47, 47);
}

.navbar {
    padding-bottom: 0;
}

.navbar-toggler {
    padding: 5px 10px;
    margin-bottom: 5px;
}

.navbar-color {
    background-color: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.navbar-logo {
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 3rem 3rem 0 3rem;
}

.username-nav {
    text-transform: capitalize;
}

.carousel-buy {
    margin: 0 auto;
    padding: 10px 0 0 0;
}

.carousel-rent {
    margin: 0 auto;
    padding: 10px 0 0 0;
}

.social-buttons {
    margin: 1rem 0 0.5rem 0;
}

.footer-main {
    background-color: #fff;
    -webkit-box-shadow: 0 -4px 4px -4px black;
    box-shadow: 0 -4px 4px -4px black;
    padding: 0.1rem 0 0 0;
    margin-top: 1rem;
}

.footer-copyright {
    padding: 0 0 0.5rem 0;
}

.btn-block+.btn-block {
    margin-top: 0;
}

/* REGISTER */

.add-title,
.login-title,
.register-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 28px;
    background-color: #343a40;
    height: 4rem;
    border-radius: 10px 10px 0 0;
    color: white;
}

.add-title>h4 {
    margin-bottom: 0;
}

.register-form,
.login-form {
    padding: 1rem 0;
}

.add-property-container,
.login-container,
.register-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 1rem auto auto auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.568);
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.form-property,
.form-login {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.user-icon {
    font-size: 40px;
    padding: 4px 8px 0 0;
    color: #343a40;
}

.password-icon {
    font-size: 35px;
    padding: 4px 8px 0 0;
    color: #343a40;
}

.rent-buy-buttons,
.edit-delete-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.add-property-button,
.register-button,
.login-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.button-buy {
    width: 100%;
    background-color: blue;
}

.button-rent {
    width: 100%;
    background-color: red;
}

/* PROPERTY LISTING */

.listing-selector {
    text-align: right;
    margin-bottom: 2rem;
}

.selector-options {
    border-radius: 0;
    width: 200px;
}

.card-box {
    margin: 0 0 1rem 0;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.568);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-box:hover {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.16), 0 8px 15px rgba(0, 0, 0, 0.23);
}

.card-address-box {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: bold;
    margin: 0;
    padding: 12px 10px 0 10px;
}

.card-city-box {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    padding: 2px 10px 5px 10px;
    font-size: 22px;
}

.card-price-box {
    border: 2px solid grey;
    border-radius: 10px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 15px;
    padding: 5px 3px;
}

.card-footer-box {
    margin: 0;
    padding: 10px 5px;
}

.card-footer-beds,
.card-footer-baths {
    font-size: 25px;
    color: grey;
    margin: 0;
}

.card-description-box {
    background-color: #FFF;
    font-size: 23px;
    border-radius: 0 0 15px 15px;
}

.description-price-box {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    padding: 5px;
}

.property-img {
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
}

.card-img {
    width: 100%;
    height: 300px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid rgb(0, 0, 0);
    border-radius: 15px 15px 0 0;
}

.price-box {
    padding-bottom: .5rem;
}

.card-price {
    color: #000;
    margin-left: 5px;
}

.card-bed-box,
.card-bath-box {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
}

.bed-icon,
.bath-icon {
    margin-right: 10px;
    padding-top: 5px;
}

.bath-info {
    margin-left: 5px;
}

/* Property Details */

.property-details-box {
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.568);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.16), 0 8px 15px rgba(0, 0, 0, 0.23);
    background-color: #fff;
}

.details-top-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    padding: 15px;
    font-size: 25px;
    font-weight: bold;
}

.top-address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.details-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.property-name-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.property-image-box {
    width: 100%;
}

.details-property-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.23);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.23);
}

.details-address-box {
    margin: 0 10px 0 0;
}

.details-description-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 12px 0;
    font-family: "Poppins", sans-serif;
    font-size: 27px;
    font-weight: bold;
}

.summary-list-box {
    padding: 0;
    margin: 0;
}

.summary-list,
.property-description {
    padding: 0 10px;
    margin: 0;
}


/* PROFILE */

.profile-box {
    border-radius: 15px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.16), 0 8px 15px rgba(0, 0, 0, 0.23);
    background-color: #fff
}

.title-profile-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 15px 0 0 0;
    padding: 25px 0 10px 0;
    font-size: 25px;
    font-weight: bold;
}

.agent-image-box {
    margin: 0 auto;
    width: 100%;
}

.button-agent-options {
    margin: 10px auto;
}

.agent-options-box {
    margin: 20px 0
}

/* Pagination */

.page-item.active .page-link {
    color: #fff;
    background-color: rgb(56, 56, 56);
    border-color: grey
}

/* No results */

.no-result-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    background-color: #FFF;
    border-radius: 15px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.16), 0 8px 15px rgba(0, 0, 0, 0.23);
    width: 100%;
    height: auto;
    padding: 1rem;
}

.no-result-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    margin: auto;

}

.no-result-image-box {
    padding: 1rem 0 0 0;
    margin: 0 auto;
    width: 100%;
}

.no-result-img {
    width: 100%;
    height: 100%;
}

.no-result-buttons-box {
    margin: 20px 0 10px 0;
}

.no-result-buttons {
    margin: 10px auto;
}

/* Error Page */

.error-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: auto auto;
    background-color: #FFF;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 15px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.16), 0 8px 15px rgba(0, 0, 0, 0.23);
    width: 100%;
    height: auto;
    padding: 1rem;
}

.error-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 20vh;
    font-family: "Poppins", sans-serif;
}

.error-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 5vh;
}


/* -----------------------------------
    MEDIA QUERY
-------------------------------------- */

/* Mobile screen under 359px */
@media (max-width: 359px) {
    .banner {
        height: 230px;
    }
}

@media (min-width: 420px) {
    .banner {
        height: 280px;
    }
}


@media (min-width: 576px) {
    main {
        margin-top: 6rem;
    }

    .details-top-box {
        font-size: 30px;
    }

    .carousel-main {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .carousel {
        border: 1px solid rgba(0, 0, 0, 0.568);
        border-top: 0
    }

    .carousel-inner,
    .carousel-item,
    .carousel-inner .carousel-item .img {
        height: 40vh;
    }

}


@media (min-width: 768px) {

    .navbar-logo {
        padding: 5rem 5rem 0 5rem;
    }

    .top-address {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }


    .details-price {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .property-image-box {
        padding: 0 0 0 20px;
    }

    .summary-list,
    .property-description {
        padding: 0;
    }

    .banner {
        border-radius: 10px;
    }

    .title-buy,
    .title-rent {
        border-radius: 10px 10px 0 0;
    }

    .carousel-buy {
        padding: 1rem 1rem 1rem 0;
    }

    .carousel-rent {
        padding: 1rem 0 1rem 0;
    }

    .carousel-inner,
    .carousel-item,
    .carousel-inner .carousel-item .img {
        height: 240px;
    }

    .title-carousel {
        font-size: 23px;
    }

    .title-profile-box {
        font-size: 30px;
    }

    .agent-options-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .no-result-text {
        font-size: 25px;
        padding: 2rem;
    }

    .no-result-buttons-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

@media (min-width: 992px) {
    .details-top-box {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .banner {
        height: 330px;
    }

    .title-buy,
    .title-rent {
        font-size: 18px;
        padding: 8px 0;
    }
}

@media (min-width: 1200px) {
    main {
        margin-top: 6.5rem;
    }

    .carousel-buy {
        padding: 1rem 2rem 1rem 0;
    }

    .carousel-rent {
        padding: 1rem 0 1rem 1rem;
    }

    .carousel-inner,
    .carousel-item,
    .carousel-inner .carousel-item .img {
        height: 280px;
    }
}

@media (min-width: 1550px) {
    .banner {
        height: 450px;
    }
}