<!-- Footer -->
<div class="footer-main">

  <div class="container">

    <!-- Social media buttons -->
    <ul class="list-unstyled list-inline text-center social-buttons">
      <li class="list-inline-item">
        <a class="fab fa-facebook fa-lg mx-1" href="https://www.facebook.com/"></a>
      </li>
      <li class="list-inline-item">
        <a class="fab fa-twitter fa-lg mx-1" href="https://twitter.com/"></a>
      </li>
      <li class="list-inline-item">
        <a class="fab fa-linkedin-in fa-lg mx-1" href="https://www.linkedin.com/in/rodrigoneumann/"></a>
      </li>
    </ul>


  </div>

  <!-- Copyright -->
  <div class="footer-copyright text-center">© 2020 Copyright: Rodrigo Neumann</div>
</div>