{% extends "base.html" %}

{% block content %}


<div class="container-fluid col-11 col-md-8 col-lg-6 col-xl-5 mb-4 add-property-container">
    <div class="row add-title mb-3">
        <h4>ADD NEW PROPERTY</h4>
    </div>
    <div class="row mx-auto px-2 form-property">
        <form action="{{ url_for('properties.add_property') }}" method="POST">
            <!-- Category RENT OR BUY -->
            <ul class="nav nav-tabs justify-content-center mb-2">
                <li class="nav-item">
                    <a class="nav-link toBuy-tab active" id="toBuy-tab" data-toggle="tab" role="tab"
                        aria-controls="to buy" aria-selected="true">For Sale</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="toRent-tab" data-toggle="tab" role="tab" aria-controls="to rent"
                        aria-selected="false">For Rent</a>
                </li>
            </ul>

            <!-- Property Type -->
            <div class="input-group mb-3">
                <select class="custom-select" id="property_type" name="property_type" required>
                    <option value="" disabled selected>Property Type</option>
                    {% for type in types %}
                    <option value="{{ type }}">{{ type }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- Beds -->
            <div class="input-group mb-3">
                <select class="custom-select" id="num_bed" name="num_bed" required>
                    <option value="" disabled selected>Beds</option>
                    {% for beds in num_bed %}
                    <option value="{{ beds }}">{{ beds }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- Baths -->
            <div class="input-group mb-3">
                <select class="custom-select" id="num_bath" name="num_bath" required>
                    <option value="" disabled selected>Baths</option>
                    {% for baths in num_bath %}
                    <option value="{{ baths }}">{{ baths }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- Address -->
            <div class="form-group">
                <input type="text" class="form-control" id="address" name="address" placeholder="Address" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="address2" name="address2"
                    placeholder="Apartment, studio or floor number">
            </div>
            <!-- District -->
            <div class="input-group mb-3">
                <select class="custom-select" id="district" name="district" required>
                    <option value="" disabled selected>District</option>
                    {% for district in districts %}
                    <option value="{{ district }}">{{ district }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- City -->
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="city" name="city" placeholder="City" required>
                </div>
                <!-- ZIPCODE -->
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="zipCode" name="zipCode" placeholder="Zipcode" required>
                </div>
            </div>
            <!-- Description -->
            <div class="form-group">
                <textarea class="form-control" rows="7" id="description" name="description"
                    placeholder="Description" required></textarea>
            </div>
            <!-- Image -->
            <div class="form-group">
                <span>Please add a link to the photo of the property - Optional</span>
                <input id="imgUrl" name="imgUrl" class="form-control" type="url" maxlength="150"
                    placeholder="https://...">
            </div>
            <!-- Price -->
            <div class="form-group for-sale-div required">
                <span>Please inform the price for sale</span><br>
                <input type="number" min="1" step="any" name="sale_price" placeholder="£">
            </div>
            <div class="form-group for-rent-div required">
                <span>Please inform the monthly rent price</span><br>
                <input type="number" min="1" step="any" name="rent_price" placeholder="£"><span> pcm</span>
            </div>
            <!-- Assigned agent -->
            <div class="form-group">
                <span>Assigned Agent</span>
                <input type="text" class="form-control" id="agent" name="agent" value="{{ agent }}" readonly>
            </div>
            <!-- Add Property button -->
            <div class="add-property-button">
                <button type="submit" class="btn btn-dark ml-auto mb-3">Add Property</button>
            </div>
        </form>
    </div>
</div>


{% endblock %}