{% extends "base.html" %}

{% block content %}


<div class="container-fluid col-11 col-md-8 col-lg-6 col-xl-5 add-property-container">
    <div class="row add-title mb-3">
        <h4>ADD NEW PROPERTY</h4>
    </div>
    <div class="row mx-auto px-2 form-property">
        <form>
            <!-- RENT OR BUY Buttons -->
            <ul class="nav nav-tabs justify-content-center mb-2">
                <li class="nav-item">
                    <a class="nav-link active" id="toBuy-tab" data-toggle="tab" role="tab" aria-controls="to buy"
                        aria-selected="true">For Sale</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="toRent-tab" data-toggle="tab" role="tab" aria-controls="to rent"
                        aria-selected="false">For Rent</a>
                </li>
            </ul>

            <!--             <div class="rent-buy-buttons mb-3">
                <div class="row mr-2 button-buy">TO BUY</div>
                <div class="row ml-2 button-rent">TO RENT</button>
                </div>
            </div> -->
            <!-- Property Type -->
            <div class="input-group mb-3">
                <select class="custom-select" id="" required>
                    <option selected>Property Type</option>
                    <option value="1" active>House</option>
                    <option value="2">Apartment</option>
                    <option value="3">Other</option>
                </select>
            </div>
            <!-- Beds -->
            <div class="input-group mb-3">
                <select class="custom-select" id="" required>
                    <option selected>Beds</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3+">3+</option>
                </select>
            </div>
            <!-- Baths -->
            <div class="input-group mb-3">
                <select class="custom-select" id="" required>
                    <option selected>Baths</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3+">3+</option>
                </select>
            </div>
            <!-- Address -->
            <div class="form-group">
                <input type="text" class="form-control" id="inputAddress" placeholder="Address" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" required>
            </div>
            <!-- District -->
            <div class="input-group mb-3">
                <select class="custom-select" id="inputDistrict" required>
                    <option>District</option>
                    <option value="portsmouth">Portsmouth</option>
                    <option value="havant">Havant</option>
                    <option value="fareham">Fareham</option>
                    <option value="gosport">Gosport</option>
                    <option value="eastleigh">Eastleigh</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <!-- City -->
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="inputCity" placeholder="City" required>
                </div>
                <!-- ZIPCODE -->
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="inputZip" placeholder="Zipcode" required>
                </div>
            </div>
            <!-- Description -->
            <div class="form-group">
                <textarea class="form-control" rows="7" id="description" placeholder="Description"></textarea>
            </div>
            <!-- Image -->
            <div class="form-group">
                <p>Please add a link to the photo of the property</p>
                <input id="imgUrl" name="imgUrl" class="form-control" type="url" maxlength="150"
                    placeholder="https://..." required>
            </div>

            <!-- Add Property button -->
            <div class="add-property-button">
                <button type="submit" class="btn btn-dark ml-auto mb-3">Add Property</button>
            </div>
        </form>
    </div>
</div>


{% endblock %}