{% extends "base.html" %}

{% block content %}


<div class="container-fluid col-11 col-md-8 col-lg-6 col-xl-5 add-property-container">
    <div class="row add-title mb-3">
        <h4>EDIT PROPERTY</h4>
    </div>
    <div class="row mx-auto px-2 mt-3 form-property">
        <form>
            <!-- Property Type -->
            <div class="input-group mb-3">
                <select class="custom-select" id="property_type" name="property_type" required>
                    <option value="" disabled selected>Property Type</option>
                    {% for type in types %}
                    <option value="{{ type }}">{{ type }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- Beds -->
            <div class="input-group mb-3">
                <select class="custom-select" id="num_bed" name="num_bed" required>
                    <option value="" disabled selected>Beds</option>
                    {% for beds in num_bed %}
                    <option value="{{ beds }}">{{ beds }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- Baths -->
            <div class="input-group mb-3">
                <select class="custom-select" id="" required>
                    <option value="" disabled selected>Baths</option>
                    {% for baths in num_bath %}
                    <option value="{{ baths }}">{{ baths }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- Address -->
            <div class="form-group">
                <input type="text" class="form-control" id="inputAddress" placeholder="Address" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="inputAddress2"
                    placeholder="Apartment, studio or floor number" required>
            </div>
            <!-- District -->
            <div class="input-group mb-3">
                <select class="custom-select" id="" required>
                    <option value="" disabled selected>District</option>
                    {% for district in districts %}
                    <option value="{{ district }}">{{ district }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- City -->
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="inputCity" placeholder="City" required>
                </div>
                <!-- ZIPCODE -->
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="inputZip" placeholder="Zipcode" required>
                </div>
            </div>
            <!-- Description -->
            <div class="form-group">
                <textarea class="form-control" rows="7" id="description" placeholder="Description"></textarea>
            </div>
            <!-- Image -->
            <div class="form-group">
                <p>Please add a link to the photo of the property</p>
                <input id="imgUrl" name="imgUrl" class="form-control" type="url" maxlength="150"
                    placeholder="https://...">
            </div>
            <div class="edit-delete-buttons">
                <button type="submit" class="btn btn-dark btn-block mb-3 mx-2">Edit</button>
                <button type="submit" class="btn btn-dark btn-block mb-3 mx-2">Delete</button>
            </div>
        </form>
    </div>
</div>


{% endblock %}