{% extends "base.html" %}

{% block content %}

{% for detail in property_details %}

<div class="container-fluid col-11 col-md-8 col-lg-6 col-xl-5 mb-4 add-property-container">
    <div class="row add-title mb-3">
        <h4>EDIT PROPERTY</h4>
    </div>
    <div class="row mx-auto px-2 mt-3 form-property">
        <div class="row col-12 justify-content-center mb-2">{{detail.address}}</div>
        <form action="{{  url_for('properties.edit_property', property_id=detail._id ) }}" method="POST">
            <!-- Beds -->
            <div class="input-group mb-3">
                <select class="custom-select" id="num_bed" name="num_bed">
                    <option value="" disabled selected>{{detail.num_bed}}</option>
                    {% for beds in num_bed %}
                    <option value="{{ beds }}">{{ beds }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- Baths -->
            <div class="input-group mb-3">
                <select class="custom-select" id="num_bath" name="num_bath">
                    <option value="" disabled selected>{{detail.num_bath}}</option>
                    {% for baths in num_bath %}
                    <option value="{{ baths }}">{{ baths }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- Address -->
            <div class="form-group">
                <input type="text" class="form-control" id="address" name="address" value="{{detail.address}}"
                    placeholder="Address" pattern="[A-Za-z0-9_]{3,}"
                    title="Only letters and numbers. min lengh 3 characters.">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="address2" name="address2" value="{{detail.address2}}"
                    placeholder="Apartment, studio or floor number" pattern="[A-Za-z0-9_]{2,}"
                    title="Only letters and numbers. min lengh 2 characters.">
            </div>
            <!-- District -->
            <div class="input-group mb-3">
                <select class="custom-select" id="district" name="district">
                    <option value="" disabled selected>{{detail.district}}</option>
                    {% for district in districts %}
                    <option value="{{ district }}">{{ district }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- City -->
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="city" name="city" value="{{detail.city}}"
                        placeholder="City" pattern="[A-Za-z]{3,}" title="Only letters. min lengh 3 characters."
                        required>
                </div>
                <!-- ZIPCODE -->
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="zipCode" name="zipCode" value="{{detail.zipCode}}"
                        placeholder="Postcode" pattern="[A-Za-z0-9_]{6,7}" title="Only UK format Postcode e.g PO3 5LW">
                </div>
            </div>
            <!-- Description -->
            <div class="form-group">
                <textarea class="form-control" rows="7" id="description" name="description" placeholder="Description">
                {{ detail.description }}
                </textarea>
            </div>
            <!-- Image -->
            <div class="form-group">
                <p>Please add a link to the photo of the property - Optional</p>
                <input id="imgUrl" name="imgUrl" class="form-control" type="url" maxlength="150"
                    value="{{detail.imgUrl}}" placeholder="https://...">
            </div>
            <!-- Price -->
            {% if detail.sale_price > "1"  %}
            <div class="form-group required">
                <p>Please inform the price for sale</p>
                <input type="number" min="1" step="any" name="sale_price" value="{{detail.sale_price}}" placeholder="£">
            </div>{% endif %}
            {% if detail.rent_price > "1" %}
            <div class="form-group required">
                <p>Please inform the monthly rent price</p>
                <input type="number" min="1" step="any" name="rent_price" value="{{detail.rent_price}}" placeholder="£">
            </div>
            {% endif %}
            <!-- Edit Property and cancel button -->
            <div class="edit-delete-buttons">
                <button type="submit" class="btn btn-dark btn-block mb-3 mx-2">Update</button>
                <!-- Cancel Button -->
                <a class="btn btn-dark btn-block mb-3 mx-2"
                    href={{ url_for( 'properties.property_details', property_id = detail._id) }}>Cancel</a>
            </div>
        </form>
    </div>
</div>

{% endfor %}

{% endblock %}