{% extends "base.html" %}

{% block content %}

<div class="container-fluid p-0">
    <!-- FLASH MESSAGES -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-success d-flex justify-content-center">
        {% for message in messages %}
        <span>{{ message }}</span>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <!-- Banner -->

    <div class="col-12 col-sm-11 col-lg-10 col-xl-8 banner"></div>

    <!-- Carousel -->
    <div class="container col-12 col-md-11 col-lg-10 col-xl-8 p-0">
        <div class="carousel-main">
            <!-- Carousel To buy -->
            <div class="container col-12 col-sm-5 col-md-6 carousel-buy">
                <div class="row title-buy">LATEST FOR SALE</div>
                <div class="carousel slide" id="main-carousel-buy" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#main-carousel-buy" data-slide-to="0" class="active"></li>
                        <li data-target="#main-carousel-buy" data-slide-to="1"></li>
                        <li data-target="#main-carousel-buy" data-slide-to="2"></li>
                        <li data-target="#main-carousel-buy" data-slide-to="3"></li>

                    </ol><!-- /.carousel-indicators -->

                    <div class="carousel-inner">
                        {% for item in for_sale %}
                        <div class="carousel-item img-fluid {% if loop.index == 1 %} active {% else %}{% endif %}">
                            <a href="{{ url_for('properties.property_details', property_id=item._id)}}">
                                <img class="d-block w-100 h-100" src="{{ item.imgUrl }}" alt="Property for sale"></a>
                            <div class="carousel-caption d-md-block">
                                <span class="title-carousel">{{ item.address }}</span>
                            </div>
                        </div>
                        {% endfor %}
                    </div><!-- /.carousel-inner -->

                    <a href="#main-carousel-buy" class="carousel-control-prev" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                        <span class="sr-only" aria-hidden="true">Prev</span>
                    </a>
                    <a href="#main-carousel-buy" class="carousel-control-next" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                        <span class="sr-only" aria-hidden="true">Next</span>
                    </a>
                </div><!-- /.carousel -->
            </div><!-- /.container -->


            <!-- Carousel To rent -->
            <div class="container col-12 col-sm-5 col-md-6 carousel-rent">
                <div class="row title-rent">LATEST FOR RENT</div>
                <div class="carousel slide" id="main-carousel-rent" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#main-carousel-rent" data-slide-to="0" class="active"></li>
                        <li data-target="#main-carousel-rent" data-slide-to="1"></li>
                        <li data-target="#main-carousel-rent" data-slide-to="2"></li>
                        <li data-target="#main-carousel-rent" data-slide-to="3"></li>
                    </ol><!-- /.carousel-indicators -->

                    <div class="carousel-inner">
                        {% for item in for_rent %}
                        <div class="carousel-item img-fluid {% if loop.index == 1 %} active {% else %}{% endif %}">
                            <a href="{{ url_for('properties.property_details', property_id=item._id)}}">
                                <img class="d-block w-100 h-100" src="{{ item.imgUrl }}" alt="Property for sale"></a>
                            <div class="carousel-caption d-md-block">
                                <span class="title-carousel">{{ item.address }}</span>
                            </div>
                        </div>
                        {% endfor %}


                    </div><!-- /.carousel-inner -->

                    <a href="#main-carousel-rent" class="carousel-control-prev" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                        <span class="sr-only" aria-hidden="true">Prev</span>
                    </a>
                    <a href="#main-carousel-rent" class="carousel-control-next" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                        <span class="sr-only" aria-hidden="true">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}