{% extends "base.html" %}

{% block content %}

<div class="container-fluid col-11 col-md-8 col-lg-6 col-xl-5 login-container">
    <div class="row login-title">
        <span>LOG IN</span>
    </div>
    <div class="container form-login px-4">
        <form method="POST" action="{{ url_for('reg_login.login') }}">
            <div class="form-group d-flex mt-5">
                <i class="fas fa-user-tie user-icon"></i>
                <input type="text" class="form-control" id="username" name="username" placeholder="Username" pattern="[A-Za-z0-9_]{5,}" title="Only letters and numbers. min lengh 5 characters.">
            </div>
            <div class="form-group d-flex mt-4">
                <i class="fas fa-key password-icon"></i>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" pattern="[A-Za-z0-9_]{5,}" title="Only letters and numbers. min lengh 5 characters." required>
            </div>
            <div class="row flash_message">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <span>{{ message }}</span>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
            <div class="login-button mt-1 mb-4">
                <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt fa-sm"></i> Log in</button>
            </div>
        </form>
    </div>
</div>


{% endblock %}