{% extends "base.html" %}

{% block content %}


<section class="col-12">
    <div class="container">
        <div class="row">
            <div class="input-group my-4">
                <select class="custom-select col-md-4 ml-auto " id="sort_by_agent" name="sort_by_agent" aria-label="Sort By for agent page">
                    <option value="" disabled selected>Sort By </option>
                    <option value="all_properties">All</option>
                    <option value="for_sale">For Sale</option>
                    <option value="for_rent">For Rent</option>
                </select>
            </div>
            <div class="row col-12 mx-auto px-0 px-md-auto">
                {% for property in sort_by_selector %}
                {% include "partials/cards.html" %}
                {% endfor %}
            </div>

        </div>
        <div class="row mt-4 mb-3">
            <div class="col-sm-12">
                
                <!--Pagination-->
                <nav>
                    <ul class="pagination pagination-sm justify-content-center">
                        
                        <!--Previous Page-->
                        {% if current_page | int > 1 %}
                        <li class="page-item">
                            <a class="page-link text-secondary" href="{{ url_for('properties.list_properties', current_page=current_page-1) }}">
                                <i class="fas fa-arrow-left" aria-hidden="true"></i>
                                <span class="sr-only">Prev</span>
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled"></li>
                        {% endif %}

                        <!--Page Numbers-->
                        {% for page_number in pages %}
                        {% if page_number == current_page %}
                        <li class="page-item active text-secondary">
                            <a class="page-link">{{ page_number }}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link text-secondary"
                                href="{{ url_for('properties.list_properties', current_page=page_number) }}">{{ page_number }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        
                        <!--Next Page-->
                        {% if current_page | int < pages | count | int %}
                        <li class="page-item">
                            <a class="page-link text-secondary" href="{{ url_for('properties.list_properties', current_page=current_page+1) }}">
                                <i class="fas fa-arrow-right" aria-hidden="true"></i>
                                <span class="sr-only">Prev</span>
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled"></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>

{% endblock %}