<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-light fixed-top navbar-color">
    <a class="navbar-brand navbar-logo" href="#"></a>
    <button class="navbar-toggler text-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-right" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" >Link 2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" >Link 3</a>
    </div>

</nav>