{% extends "base.html" %}

{% block content %}

{% for detail in property_details %}

<section class="col-12">
    <div class="container">
        <!-- FLASH MESSAGES -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-success d-flex justify-content-center">
            {% for message in messages %}
            <span>{{ message }}</span>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <div class="row">
            <div class="col-12 col-lg-9 mx-auto my-3 property-details-box">
                <div class="row col-12 details-top-box">
                    <span class="top-address col-md-6">{{detail.address}} {{detail.address2}}</span>
                    <span class="details-price col-md-6">
                        {% if detail.rent_price %}
                        <div>£{{detail.rent_price}} PCM</div>
                        {% else %}
                        <div>£{{detail.sale_price}}</div>
                        {% endif %}
                    </span>
                </div>
                <div class="row">
                    <div class="col-md-7 property-image-box">
                        {% if detail.imgUrl %}
                        <img src="{{ detail.imgUrl }}" class="img-fluid details-property-img" alt="Property Image">
                        {% else %}
                        <img src="{{ url_for('static', filename='img/no-image.png') }}"
                            class="img-fluid details-property-img" alt="Property Image">
                        {% endif %}
                    </div>
                    <div class="col-md-5">
                        <div class="col-12">
                            <div class="row justify-content-center">
                                <div class="details-description-title">
                                    <span>Property Summary</span>
                                </div>
                            </div>
                            <div class="row col-12 summary-list-box">
                                <ul class="col-12 summary-list">
                                    <li class="d-flex justify-content-between">
                                        <strong>City:</strong>
                                        <span>{{detail.city}}</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>District:</strong>
                                        <span>{{detail.district}}</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Postcode:</strong>
                                        <span>{{detail.zipCode}}</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Property Type:</strong>
                                        <span>{{detail.property_type}}</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Status:</strong>
                                        {% if detail.rent_price != null %}
                                        <span>For Rent</span>
                                        {% else %}
                                        <span>For Sale</span>
                                        {% endif %}
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Beds:</strong>
                                        <span>{{detail.num_bed}}</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Baths:</strong>
                                        <span>{{detail.num_bath}}</span>
                                    </li>
                                    <li class="d-flex justify-content-between py-1">
                                        <strong>Agent:</strong>
                                        <span>{{ detail.agent }}</span>
                                    </li>
                                </ul>
                                <!-- Edit and delete Property button check if is ads owner or Admin  -->
                                {% if agent == detail.agent %}
                                <div class="col-6 mx-auto">
                                    <a href={{ url_for( 'properties.edit_property', property_id = detail._id) }}><button
                                            type="submit"
                                            class="btn btn-dark btn-block btn-sm mx-auto">Edit</button></a>
                                </div>
                                <!-- Delete Button trigger modal -->
                                <div class="col-6 mx-auto">
                                    <button type="button" class="btn btn-dark btn-block btn-sm mx-auto"
                                        data-toggle="modal" data-target="#delete-property">Delete</button>
                                </div>
                                {% else %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <hr>

                </div>
                <div class="container col-12">
                    <div class="row details-description-title">
                        <span>Property Description</span>
                    </div>
                    <div class="property-description mb-3">
                        <span>{{detail.description}}</span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal Delete Property Alert -->
<div class="modal fade" id="delete-property" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Delete Property</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="{{ url_for( 'properties.delete_property', property_id = detail._id) }}">
                <div class="modal-body">
                    <div class="row m-0">When you delete a property from your list, all information on it will be lost.<br>Are you sure about this?</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endfor %}

{% endblock %}