{% extends "base.html" %}

{% block content %}

{% for detail in property_details %}

<section class="col-12">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9 mx-auto my-4 property-details-box">
                <div class="row col-12 details-top-box">
                    <span class="top-address col-md-6">{{detail.address}} {{detail.address2}}</span>
                    <span class="details-price col-md-6">
                        {% if detail.rent_price %}
                        <div>£{{detail.rent_price}} PCM</div>
                        {% else %}
                        <div>£{{detail.sale_price}}</div>
                        {% endif %}
                    </span>
                </div>
                <div class="row">
                    <div class="col-md-7 property-image-box">
                        {% if detail.imgUrl %}
                        <img src="{{ detail.imgUrl }}" class="img-fluid details-property-img" alt="Property Image"
                            lazyload="on">
                        {% else %}
                        <img src="{{ url_for('static', filename='img/no-image.png') }}"
                            class="img-fluid details-property-img" alt="Property Image" lazyload="on">
                        {% endif %}
                    </div>
                    <div class="col-md-5">
                        <div class="col-12">
                            <div class="row justify-content-center">
                                <div class="details-description-title">
                                    <span>Property Summary</span>
                                </div>
                            </div>
                            <div class="row col-12 summary-list-box">
                                <ul class="col-12 summary-list">
                                    <li class="d-flex justify-content-between">
                                        <strong>City:</strong>
                                        <span>{{detail.city}}</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>District:</strong>
                                        <span>{{detail.district}}</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Postcode:</strong>
                                        <span>{{detail.zipCode}}</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Property Type:</strong>
                                        <span>{{detail.property_type}}</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Status:</strong>
                                        {% if detail.rent_price != null %}
                                        <span>For Rent</span>
                                        {% else %}
                                        <span>For Sale</span>
                                        {% endif %}
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Beds:</strong>
                                        <span>{{detail.num_bed}}</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Baths:</strong>
                                        <span>{{detail.num_bath}}</span>
                                    </li>
                                    <li class="d-flex justify-content-between pt-2">
                                        <strong>Agent:</strong>
                                        <span>{{detail.agent}}</span>
                                    </li>
                                </ul>
                                <!-- Edit and delete Property button check if is ads owner  -->
                                {% if agent == detail.agent %}
                                <div class="col-6 mx-auto">
                                    <a href={{ url_for( 'properties.edit_property', property_id = detail._id) }}><button type="submit"
                                            class="btn btn-dark btn-block btn-sm mx-auto">Edit</button></a>
                                </div>
                                <div class="col-6 mx-auto">
                                    <a href={{ url_for( 'properties.delete_property', property_id = detail._id) }}><button type="submit"
                                            class="btn btn-dark btn-block btn-sm mx-auto">Delete</button></a>
                                </div>
                                {% else %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <hr>

                </div>
                <div class="container col-12">
                    <div class="row details-description-title">
                        <span>Property Description</span>
                    </div>
                    <div class="property-description mb-3">
                        <span>{{detail.description}}</span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endfor %}

{% endblock %}