{% extends "base.html" %}

{% block content %}

<div class="container-fluid col-11 col-md-8 col-lg-6 col-xl-5 register-container">
    <div class="row register-title">
        <span>CREATE ACCOUNT</span>
    </div>
    <div class="container form-register px-4">
        <form>
            <div class="form-group d-flex mt-5">
                <i class="fas fa-user-tie user-icon"></i>
                <input type="text" class="form-control" id="register" name="address2" placeholder="Username" required>
            </div>
            <div class="form-group d-flex mt-4">
                <i class="fas fa-key password-icon"></i>
                <input type="password" class="form-control" id="password" name="address2" placeholder="Password"
                    required>
            </div>
            <div class="register-button mt-1 mb-4">
                <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt fa-sm"></i> Register</button>
            </div>
        </form>
    </div>
</div>


{% endblock %}